<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.EmployeeDelDao">
    <select id="getAllEmployeeDels" resultType="com.entity.EmployeeDel">
        select edid, edname,edgender,edidcard,edphone,edaddress,eddeptid,edjodlevelid,eddegindate
        from employeedel order by edid
    </select>
    <insert id="insertEmpDel">
        insert into employeedel(edname,edgender,edidcard,edphone,edaddress,eddeptid,edjodlevelid,eddegindate)
        values (#{edname},#{edgender},#{edidcard},#{edphone},#{edaddress},#{eddeptid},#{edjodlevelid},#{eddegindate})
    </insert>
    <delete id="deleteEmpDel">
        delete from employeedel where edid=#{edid}
    </delete>


</mapper>
